
html{
    background-image:url("Images/bg.png");
    background-size: cover;
    font-family:Arial,sans-serif;
    text-align: center;
    color: #FDF9DB;
}

.menu{
    width: 100%;
    margin: 0px auto 40px auto;
    background-color: white;
    position: sticky;
    top: 0px;
	padding: 0px;
}

.menu{
    list-style-type: none;
}

.menu li{
    float: left;
    width: 25%;
    text-align: center;
}


.menu ul::after{
    content: "";
    display: table;
    clear: both;
}

.menu a{
    display: block; 
    text-decoration: none;
    color: #FDF9DB;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
	border-radius:10px;
}

.menu a:hover{
    color: #FDF9DB;
    border-bottom: 2px solid #5B7698;
	background-color: #5B7698;
}
.menu{
    font-family:roboto, sans-serif;
}

footer{
    position : absolute;
    bottom: 0;
    text-align: center;
}

/*Couleur vert de Moustique : #9DBB61 -> couleur texte normal
Couleur bleue de Moustique : #5B7698 -> couleur fond
Couleur blanc de Moustique : #FDF9DB -> couleur titres
Qu'est-ce qui rend mieux : les couleurs que j'ai mises ou celles de Moustique ? 
Parce que perso je trouve les nouvelles mieux, mais c'est pas celles de la cg du jeu quoi*/